In [77]:
from cmath import rect
from math import pi

In [159]:
# 25 sq.mm

v = complex(415,0)
# Line parameters
r = 1/54/25*(1+(1/234.5)*50)*100
x = 0.17*0.1
z_line = complex(r ,x)
# Load parameters
z_load = (v**2)/complex(8000, 6000)
i = v/(1.732*(z_line+z_load))
# Voltage drop in line
v_drop_ln = i*z_line
v_drop_ll_perc = abs(1.732*v_drop_ln/v*100)

display(v_drop_ll_perc)

0.5291609105169689

In [160]:
# 4 sq.mm

v = complex(415,0)
# Line parameters
r = 1/54/4*(1+(1/234.5)*50)*100
x = 0.17*0.1
z_line = complex(r ,x)
# Load parameters
z_load = (v**2)/complex(800, 600)
i = v/(1.732*(z_line+z_load))
# Voltage drop in line
v_drop_ln = i*z_line
v_drop_ll_perc = abs(1.732*v_drop_ln/v*100)

display(v_drop_ll_perc)

0.32544788674701725

In [161]:
# 16 sq.mm Al UG XLPE

v = complex(415,0)
# Line parameters
r = 1/34/16*(1+(1/228)*70)*100
x = 0.08*0.1
z_line = complex(r ,x)
# Load parameters
z_load = (v**2)/complex(8000, 6000)
i = v/(1.732*(z_line+z_load))
# Voltage drop in line
v_drop_ln = i*z_line
v_drop_ll_perc = abs(1.732*v_drop_ln/v*100)

display(v_drop_ll_perc)

1.3807352407333646

In [122]:
import pandapower as pp
net = pp.from_json('network.json')
pp.runpp(net)
comp_volt = lambda b : rect(net.res_bus['vm_pu'][b], net.res_bus['va_degree'][b]*pi/180)

In [127]:
net.load

,name,bus,p_mw,q_mvar,const_z_percent,const_i_percent,sn_mva,scaling,in_service,type
0,X1,2,0.0080,0.0060,0.0,0.0,0.010,1.0,True,wye
1,X3,5,0.0080,0.0060,0.0,0.0,0.010,1.0,True,wye
2,X2,1,0.0008,0.0006,0.0,0.0,0.001,1.0,True,wye

In [124]:
net.res_bus

      vm_pu  va_degree      p_mw    q_mvar
0  1.000000   0.000000 -0.025855 -0.019224
1  0.997323   0.107884  0.000800  0.000600
2  0.995206   0.134850  0.008000  0.006000
3  0.997323   0.107884  0.000800  0.000600
4  0.995206   0.134850  0.008000  0.006000
5  0.988392   0.463716  0.008000  0.006000

In [130]:
display(abs(comp_volt(2) - comp_volt(0))*100)
display(abs(comp_volt(1) - comp_volt(0))*100)
display(abs(comp_volt(5) - comp_volt(0))*100)

0.5338014092529345

0.3271683936976548

1.4123959816929648

In [ ]:
# Single phase lines

In [141]:
# 25 sq.mm

v = complex(240,0)
# Line parameters
r = 1/54/25*(1+.004*50)*100
x = 0.17*0.1
z_line = complex(2*r ,2*x)
# Load parameters
z_load = (v**2)/complex(8000, 6000)
i = v/(z_line+z_load)
# Voltage drop in line
v_drop_ln = i*z_line
v_drop_ll_perc = abs(v_drop_ln/v*100)

display(v_drop_ll_perc)

3.0764780509249237

In [146]:
# 4 sq.mm

v = complex(240,0)
# Line parameters
r = 1/54/4*(1+.004*50)*100
x = 0.17*0.1
z_line = complex(2*r ,2*x)
# Load parameters
z_load = (v**2)/complex(800, 600)
i = v/(z_line+z_load)
# Voltage drop in line
v_drop_ln = i*z_line
v_drop_ll_perc = abs(v_drop_ln/v*100)

display(v_drop_ll_perc)

1.9011144992941607

In [147]:
import pandapower as pp
net2 = pp.from_json('network.json')
pp.pf.runpp_3ph.runpp_3ph(net2)
comp_volt_a = lambda b : rect(net2.res_bus_3ph['vm_a_pu'][b], net2.res_bus_3ph['va_a_degree'][b]*pi/180)

In [148]:
net2.asymmetric_load

,name,bus,p_a_mw,q_a_mvar,p_b_mw,q_b_mvar,p_c_mw,q_c_mvar,sn_mva,scaling,in_service,type
0,X5,3,0.0008,0.0006,0.0,0.0,0.0,0.0,0.001,1.0,True,wye
1,X4,4,0.0080,0.0060,0.0,0.0,0.0,0.0,0.010,1.0,True,wye

In [149]:
net2.res_bus_3ph

,vm_a_pu,va_a_degree,vm_b_pu,va_b_degree,vm_c_pu,va_c_degree,p_a_mw,q_a_mvar,p_b_mw,q_b_mvar,p_c_mw,q_c_mvar,unbalance_percent
0,0.998331,-0.106641,1.000836,-119.946816,1.000836,120.053189,-0.014821,-0.010868,-0.005666,-0.004205,-0.005666,-0.004205,0.124955
1,0.995647,0.002305,0.998151,-119.839534,0.998172,120.160617,0.000267,0.000200,0.000267,0.000200,0.000267,0.000200,0.125026
2,0.993523,0.029769,0.996032,-119.813018,0.996066,120.187534,0.002667,0.002000,0.002667,0.002000,0.002667,0.002000,0.125215
3,0.981961,0.551884,1.000079,-120.516035,1.009852,120.295441,0.000800,0.000600,0.000000,0.000000,0.000000,0.000000,0.370738
4,0.968696,0.725811,1.002265,-120.884120,1.014430,120.579531,0.008000,0.006000,0.000000,0.000000,0.000000,0.000000,0.599086
5,0.986695,0.361670,0.989196,-119.485737,0.989288,120.514958,0.002667,0.002000,0.002667,0.002000,0.002667,0.002000,0.125366

In [150]:
display(abs(comp_volt_a(4) - comp_volt_a(0))*100)
display(abs(comp_volt_a(3) - comp_volt_a(0))*100)

3.289868502614464

1.9936608398471685